RewriteEngine on

# Github rewrite rules
RewriteRule ^/personal_web/$ /personal_web/index.html
RewriteRule ^/personal_web/projects$ /personal_web/projects.html
RewriteRule ^/personal_web/about$ /personal_web/about.html
RewriteRule ^/personal_web/contact$ /personal_web/contact.html

# Local dev
RewriteRule ^/$ index.html
RewriteRule ^/projects$ /projects.html
RewriteRule ^about$ /about.html
RewriteRule ^contact$ /contact.html


# Pattern
# RewriteRule ^$ .html