RewriteEngine on

RewriteRule ^/personal_web/$ /personal_web/index.html
RewriteRule ^/personal_web/projects$ /personal_web/projects.html
RewriteRule ^/personal_web/about$ /personal_web/about.html
RewriteRule ^/personal_web/contact$ /personal_web/contact.html


# Pattern
# RewriteRule ^$ .html